/***********************HOUSE KEEPING***********************************************/
.blue{
	color:#00acef;
}
.red{
	color:#FF4000;
}
.gray{
	color:#cccccc;
}
.header-underline{
	border-bottom: 1px solid #000000;
}
.spess-text{
	font-family: 'Signika', sans-serif;
	font-weight:300;
	font-size: 13pt;
}
.bold{
	font-weight: 600;
}

.spess-header{
	border-top:10px solid #00acef;
	border-bottom:1px solid #ebebeb;
	-webkit-box-shadow: 0px 0px 3px -1px rgba(184,184,184,1);
	-moz-box-shadow: 0px 0px 3px -1px rgba(184,184,184,1);
	box-shadow: 0px 0px 3px -1px rgba(184,184,184,1);
	position: fixed;
	width: 100%;
	background-color: #ffffff;
	z-index: 99;
}
.spess-logo{
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
.menu{
	list-style: none;
	padding-top: 10px;
}
.menu li{
	font-family: 'Signika', sans-serif;
	font-size: 13pt;
	border-bottom:1px solid #ebebeb;
}
.menu li a{
	color:#00acef;
}
.menu li a:active{
	color:#FF4000;
}
.menu li a:hover{
	color:#FF4000;
}
.responsive-btn{
	padding:0;
	margin-bottom: 0;
}
.breadcrumb{
	padding:0;
	max-width: 40px;
	height: auto;
}
@media only screen and (min-width : 768px) {
	.menu li{
		float:left;
		border-bottom:none;
		font-weight: 300pt;
	}
	.menu{
		float: right;
	}
}
/***********************************************SPESS SLIDER*******************/
.spess-heroslider{	
	/*background-image: url("/images/syde-images/images/hero-image.jpg");*/
	background-size: cover;
	background-position: bottom right;
	overflow:hidden;
	margin-top: 0px;
}
.spess-heroslider h2{
	font-family: 'Signika', sans-serif;
	color:#666;
	font-weight: 600;
	font-size: 15pt;
}
.spess-heroslider h1{
	font-family: 'Montserrat', sans-serif;
	font-size:20pt;
	margin-bottom: 30px;
}
.spess-slider-text{
	background-color: #fff;
	opacity: 0.8;
	padding:20px;
	margin-top: 100px;
	margin-right: -15px;
	margin-left: -15px;

}
.spess-cta{
	padding:7px 40px;
	border-radius: 5px;
	background-color: #00acef;
	border:1px solid #ebebeb;
	font-family: 'Signika', sans-serif;
	font-size: 14pt;
	color:#fff;

}
@media only screen and (min-width : 768px) {
	.spess-slider-text{
		margin-top: 120px;
		background-color: transparent;
	}
	.spess-heroslider h2{
		font-size: 20pt;
	}
	.spess-heroslider h1{
		font-size:30pt;
	}
}
/*****************************************************SPESS SERVICES*****************************************/
.services{
	padding-top: 10px;
	padding-bottom: 30px;
}
.services h1{
	text-align: center;
	font-family: 'Signika', sans-serif;
	font-weight:600;
	padding-bottom: 10px;
}
.services h4{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.services p{
	font-family: 'Signika', sans-serif;
	font-weight:300;
	font-size: 13pt;
}
.service-wrapper{
	background-color: #ebebeb;
	border-top:7px solid #cccccc;
	padding:20px 20px 20px 20px;
	margin-bottom: 20px;
}
.service-wrapper img{
	display: block;
	margin:0 auto;
	max-width: 130px;
	height: auto;
}

@media only screen and (min-width : 768px) {
	.services{
		padding-top: 50px;
		padding-bottom: 80px;
	}
}
/************************************************ABOUTUS STYLING**************************/
.about-us{
	padding-top: 20px;
	padding-bottom: 20px;
	/*background-color: #ebebeb;*/
	background-image: url("/images/dottedbg.png");
	background-repeat: repeat;
	background-attachment: fixed;
}
.about-us h1{
	font-family: 'Signika', sans-serif;
	font-weight: 600;
}
.about-us h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin:0;
	padding-top: 15px;
	padding-bottom: 5px;
}
.about-us p{
	font-family: 'Signika', sans-serif;
	font-weight:300;
	font-size: 13pt;
	line-height: 1.2;
}
.about-us-text{
	font-family: 'Signika', sans-serif;
	font-weight: 100;
	font-size: 15pt;
	padding-right: 0px;
	margin-bottom: 40px;
}
.aboutus-wrapper{
	padding-right:30px;
}
.services-wrapper{
	background-color: #fff;
	padding: 5px 20px;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

.service-iconsbg{
	background-color: #00acef;
	padding:5px 5px;
	width:70px;
	height: 70px;
	margin-top: -15px;
	margin-right: 15px;
	float: left;
	border-radius: 5px;
}
.service-icons{
	width:100%;
	height: auto;
}
.services-text{
	clear:left;
	padding-top: 15px;
}
.service-thumbnail{
	width:100%;
	height:200px;
	margin-bottom: 15px;
}
@media only screen and (min-width : 768px) {
	.about-us{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.about-us-text{
		font-size: 20pt;
		padding-right:20px;
	}
	.services-wrapper{
		margin-left: 0px;
		margin-right: 0px;
	}
}
/*********************************************STYLING CLIENT TESTIMONY*****************************/
.client-testimony{
	padding-top: 20px;
	padding-bottom:30px;
}
.client-testimony h1{
	text-align: center;
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	font-size: 20pt;
}
.testimony{
	background-color: #ebebeb;
	padding:30px 30px;
}
.testimony h4{
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	text-align: center;
}
.testimony-speechmark{
	max-width: 70px;
	height: auto;
	margin: 0 auto;
	display: block;
	padding-top: 15px;
}

@media only screen and (min-width : 768px) {
	.client-testimony{
		padding-top: 50px;
		padding-bottom:50px;
	}
}
/********************************************STYLING FOOTER***************************/
.footer{
	background-image: url("/images/dottedbg.png");
	background-repeat: repeat;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footermap-header{
	border-top: 1px solid #ebebeb;
	background-color: #fff;
	padding:5px 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top:1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right:1px solid #ccc;
}
.footer h1{
	font-family: 'Signika', sans-serif;
	font-weight:600;
	font-size: 20pt;
}
.footer h4{
	font-family: 'Signika', sans-serif;
	font-weight:600;
	font-size: 18pt;
	padding-left: 20px;
	margin-bottom: 0;
	padding-bottom: 5px;
}
.footer p{
	font-family: 'Signika', sans-serif;
	font-weight:400;
	font-size: 13pt;
}
#map{
	width: 100%;
	height: 300px;
	padding-top: 20px;
	border-right:1px solid #ccc;
	border-left: 1px solid #ccc;
}
.contacts-wrapper{
	padding-top:5px;
	padding-left:50px;
}
.address-details{
	background-color: #ebebeb;
	padding-top:10px;
	padding-bottom: 20px;
	border-top:10px solid #00acef;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-bottom: 20px;
}
.address-details h4{
	font-size: 15pt;
}
.business-address{
	padding-left: 50px;
	margin-top: 0;
}
.copy-right{
	background-color: #666666;
	border-top:1px solid #fff;
}
.copyright-text{
	text-align:center;
	color:#fff;
}
@media only screen and (min-width : 768px) {
	.footer{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.address-details h4{
		font-size: 17pt;
	}
}
/***********************************PAGES STYLING********************************/
.pages-header{
	background-image: url("/images/header-logistics.jpg");
	height:200px;
	padding-top: 30px;
}
.pages-header h1{
	font-family: 'Signika', sans-serif;
	color:#fff;
	font-weight: 600;
	padding-top: 20px;
	font-size: 25pt;

}
.pages-content{
	padding-top: 50px;
	padding-bottom: 50px;
}
.pages-content h1{
		font-family: 'Signika', sans-serif;
		font-weight: 600;
		color:#8d8d8d;
}
.pages-content p{
	font-family: 'Signika', sans-serif;
	font-weight:300;
	font-size: 13pt;
}
.pages-headerh1{
	font-family: 'Signika', sans-serif;
	font-size: 15pt;
}
.images-holder{
	margin-bottom: 50px;
}
.form-header{
	background-color: #dddddd;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom:4px solid #58D3F7;
	padding:10px 10px 5px 10px;
	border-left: 1px solid #ccc;
	border-top:1px solid #ccc;
	border-left: 1px solid #ccc;
}
.form-title{
	padding-top: 10px;
	padding-bottom: 10px;
}
.form-body{
	background-color: #f2f2f2;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding:10px 10px 10px 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #ccc;
	border-right:1px solid #ccc;
	border-left: 1px solid #ccc;
}
/**********************************STYLING QUOTE MODAL**********************/
.modal-header{
	background-color: #dddddd;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom:4px solid #58D3F7;
	padding:10px 10px 5px 10px;
	border-left: 1px solid #ccc;
	border-top:1px solid #ccc;
	border-left: 1px solid #ccc;
}
.modal-title{
	font-family: 'Signika', sans-serif;
}


/***********************************MACHINERY RENTALS*********************************/
.machinery-header{
	background-image: url("/images/header-machinery.jpg");
	height:200px;
	padding-top: 30px;
}

.machinery-header h1{
	font-family: 'Signika', sans-serif;
	color:#fff;
	font-weight: 600;
	padding-top: 20px;
	font-size: 25pt;
}

/***********************************PPE*********************************/
.ppe-header{
	background-image: url("/images/header-ppe.jpg");
	height:200px;
	padding-bottom: 30px;
}
.ppe-header h1{
	font-family: 'Signika', sans-serif;
	color:#fff;
	font-weight: 600;
	padding-top: 20px;
	font-size: 25pt;
}

/*****************************ADAPTING PAGES FOR MEDIUM VIEW************************************/
@media only screen and (min-width : 768px) {
	.ppe-header{
		height:300px;
		padding-top: 40px;
	}
	.ppe-header h1{
		font-family: 'Signika', sans-serif;
	}

	.machinery-header{
		height:300px;
		padding-top: 40px;
	}
	.pages-headerh1{
		font-family: 'Signika', sans-serif;
		font-size: 20pt;
	}
	.pages-header{
		height:300px;
		padding-top: 40px;
	}

}
/*******************************************************STYLING BLOG FRONT END******************/
.most-recent-h1{
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	padding-bottom: 5px;
	border-bottom:2px solid #ebebeb;
}
.recent-blog-wrapper{

}
.blog-wrapper{
	padding-left: 10px;
	padding-right: 10px;
}
.recent-blog-wrapper h2{
	font-family: 'Signika', sans-serif;	
}
.recent-blog-body{
	padding-bottom: 30px;
}
.recent-blog-body p{
	font-family: 'Signika', sans-serif;
	font-weight: 300;
}
.blog-image{
	width:100%;
	height:300px;
	overflow: hidden;	
}
.blog-image-inner{
	width: 100%;
	height: 100%;
}
.blog-title{
	margin:0;
	padding-bottom: 10px;
	font-family: 'Signika', sans-serif;
}
.byline{
	margin:0;
	padding-bottom: 10px;
}
.blog-list{
	background-color: #ebebeb;
	padding: 10px 10px;
	margin-top: 20px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 30px;
}
.blog-list-image{
	width:100%;
	height:80px;
	overflow: hidden;
}
.blogger-image-thumbnail{
	height: 100%;
	width: 100%;
}
.moreblogs{
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	padding-bottom: 5px;
	border-bottom:2px solid #ccc;
}
.blog-thumbnail{
	background-color: #fff;
	margin-bottom: 15px;
}
.one-view{
	margin-top: 30px;
	margin-bottom: 30px;
}
.comments-form-holder{
	background-color: #ebebeb;
	padding:20px 20px;
}
.comments{
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	padding-top: 5px;
}
.comments p{
	margin:0;
}
@media only screen and (min-width : 768px) {
	.blog-image{
		height:500px;
	}
}
.no-posts{
	padding-top: 50px;

}
/********************************************************ADMIN STYLING************************/
.admin-header{
	border-top:10px solid #00acef;
	border-bottom:1px solid #ebebeb;
	-webkit-box-shadow: 0px 0px 3px -1px rgba(184,184,184,1);
	-moz-box-shadow: 0px 0px 3px -1px rgba(184,184,184,1);
	box-shadow: 0px 0px 3px -1px rgba(184,184,184,1);
	width: 100%;
	background-color: #ffffff;
	z-index: 999;
	padding:0 30px;
}
.header-branding{
	float:left;
}
.admin-header h2{
	font-family: 'Signika', sans-serif;
}
.spess-admin-logo{
	max-height: 70px;
	width:auto;
	padding-top: 10px;
	padding-bottom: 5px;
}
.logout-btn{
	padding:7px 20px;
	border-radius: 20px;
	background-color: #00acef;
	color:#fff;
	font-family: 'Signika', sans-serif;
	border:none;
	margin-top: 10px;
}
.admin-panel-menu{
	list-style: none;
	width:100%;
	height: 100%;
	background-color: #ebebeb;
	margin-left:-15px;
	margin-right: 30px;
}
.admin-panel-menu li{
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom:1px solid #ebebeb;
	padding-left: 10px;
	width: 100%;
	display: block;
	background-color: #e5e5e5;
}
.admin-panel-menu li a{
	
}
.hide-element{
		display: none;
	}
.admin_content{
	height: 100%;
	width: 100%;
	padding-top: 20px;
	padding-left: 20px;
	margin-left:-30px;
	margin-right: 30px;
}

@media only screen and (min-width : 768px) {
	.hide-element{
		display: block;
	}
	.adminmenu-icon{
		float: left;
	}
}


/************************************************STYLING MESSAGES PAGES********************************/
.no-message-icon{
	border-right: none;
}
.no-message-msg{
	font-family: 'Signika', sans-serif;
	color:#777777;
}
.how-it-works{
	width:100%;
	border-top:1px solid #cccccc;
	clear: left;
}
.how-it-works h3{
	font-family: 'Signika', sans-serif;
	color:#b5b5b5;
}
.how-it-works p{
	font-family: 'Signika', sans-serif;
	color:#b5b5b5;
}
.message-count{
	background-color: #ebebeb;
	padding:10px 40px;
}
.message-count h4{
	text-align:center;
}
.admin-messages{
	background-color: #ebebeb;
	padding: 20px 20px;
	border-radius: 3px;
	margin-left: -13px;
	margin-right: -13px;
	margin-top: 10px;
}
.admin-messages-h3{
	font-family: 'Signika', sans-serif;
	font-size: 10pt;
}
.admin-messages p{
	font-family: 'Signika', sans-serif;
}


@media only screen and (min-width : 768px) {
	.no-message-icon{
		border-right: 2px solid #cccccc;
		float: left;
		margin-right: 20px;
	}
	.how-it-works{
		width:50%;
		margin-top: 100px;
	}
}
}
/*****************************************STYLING BLOG SECTION*******************************/
.blog-section{
	padding-top: 50px;
	padding-bottom: 50px;
}
.blogform-section{
	padding: 10px;
	margin-left: -30px;
	margin-right: -30px;
}
.blogform-section h3{
	font-family: 'Signika', sans-serif;
}
.publish-btn{
	background-color: #00acef;
	padding: 7px 30px;
	color: #fff;
	font-family: 'Signika', sans-serif;
	border:none;
	border-radius: 20px;
}
.recent-blogs{
	background-color: #ebebeb;
	padding: 10px 20px;
	margin-right: -15px;
	margin-left: -15px;
}
.recent-blogs h4{
	margin:0;
}
.recent-blogs-header{
	border-bottom: 1px solid #cccccc;
	font-family: 'Signika', sans-serif;
	padding-bottom: 5px;
}
.more-blogs{
	background-color: #fff;
	padding: 10px 10px;
	margin-top: 10px;
	margin-right: -15px;
	margin-left: -15px;
}
.blog-thumbnail-text{
	padding-top: 10px;
	padding-bottom: 10px;
}
.blogger-image{
	width:100%;
}
.blog-thumbnail-title{
	margin:0;
}
.blog-byline{
	font-size: 10pt;
	margin:0;
	
}
.blog-thumbnail-links{
	font-size: 10pt;
}
@media only screen and (min-width : 768px) {
		.post_div{
			margin-right: 0;
			margin-left: 0;
		}
		.recent-blogs{
				margin-right: 0px;
				margin-left: 0px;
		}
}

/**************************************************STYLING LOGIN PAGES*******************************/
.login-form-body{
	background-color: #ebebeb;
	padding: 20px 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.login-form-header{
	background-color: #00acef;
	padding:5px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.login-form-header h1{
	font-family: 'Signika', sans-serif;
	color:#fff;
	font-size: 20pt;
}
.login-form{
	margin-top: 100px;
}